body{
    /* background: url(background2.jpg) no-repeat; */
    
    
    text-align: center;
    display: flex;
    font-size: 1.4em;
    font-weight: bold;
    color: #e07121;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    /* background-size: 1550px 762px; */
    max-width: 100%;
    opacity: 0.85;
}


div.a{
    position: relative;
    flex-wrap: nowrap;     
    top: 55px;
    margin: auto;
    padding: 20px;
}
div.id input {
    margin-right: 15px;
}
input{
    padding:5px;
}
::placeholder{
    text-align: center;

}
input[type=text] {
    background: black;
    color: white;
  }

  input[type=email] {
      background: black;
      color: white;
  }

  input[type=tel]{
      background: black;
      color: white;
  }

  input[type=date]{
      background: black;
      color: white;
  }

input[type=submit]{
    background: #3829e0;
    border-radius: 5px;
}

h1{
    color: gold;
    font-size: 2.5em;
}
